/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #0889f3;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #0056b3;
}

p {
    font-size: 1.2em;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #1a1818;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
}

h1, h2 {
    color: #940cee;
}

.galeria img {
    margin: 10px;
}